@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
  min-height: 90vh;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.content-wrap {
  padding-bottom: 2rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2rem;            /* Footer height */
 }

 .footer-text {
  margin: auto;
  padding-top: 0.3rem;
 }

